.table-title {
	text-align: center;
}

.table-content {
	border-radius: 40px !important;
	background-color: rgb(150, 146, 146) !important;
}

.img-star {
	height: 70px;
}

.full-user-table {
	margin-top: 20px !important;
}

.logout-button {
	float: right;
}
