* {
    margin: 0;

}

h1 {
  line-height: 48px;
  margin: 24px 0;
}

h2 {
  line-height: 48px;
  margin: 24px 0;
}

p {
  line-height: 24px;
  margin: 24px 0;
}



.home {

}

.first {
  background-image: url("../../images/cards.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-sections {

    padding: 20px;

    align-items: center;
    justify-content: center;
}




.rules-container {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding: 18px; /* Some padding */
  line-height: 26px;
  margin: 24px 0;

}

.list-group {
  line-height: 32px;
  margin: 24px 0;
}

.homepage-section-1 {
    display: flex;
    flex-direction: row;
}
.homepage-section-2 {
    display: flex;
    flex-direction: row;
}

.play-container {
    padding-left: 35%;
    width: 100%;
}

.play-container button {
    margin: 20px;
}

.home-img {
    width: 250px;
    height: 300px;
    padding: 18px;
    display: block;
}

.registered-users {
    margin: 10px;
    object-fit: contain;
    font-size: 15px;
    border: 2px solid black;
    width: 50%;
    float: right;
    width: auto;
    height: auto;
    text-align: center;
    margin: 10px;
    object-fit: contain;
    font-size: 15px;
    border: 2px solid black;
    width: 50%;
    width: auto;
    height: auto;
    text-align: center;
}

.analytics-container .try {
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);

    color: #f1f1f1;
    display: flex;

}

.analytics-container li {
    padding: 16px;
    background-color: #D3D3D3;

    color: black;
}

.font-link {
  font-family: 'Poppins', sans-serif;
}


